.top-content{
    margin-top: 40px;
    width: 100%;
    height: 500px;
    background-color: #DCDCDC;
    display: flex;

}
.middle-content{
    width: 100%;
    height: 500px;
    background-color: #F8F8FF;
}
.bottom-content{

}
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  width: 700px;
  position:absolute;
  right:-15px;
  margin-top: 35px;

}

/* Hide the images by default */
.mySlides {
  display: none;
  height: 400px;
  margin-right: -120px;
}

.leftcontent{
    padding-left: 20px;
    padding-top: 50px;
    position: absolute;
}



/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.borderslideshow{
    border:30px;
    height: 3cm;
    width: 70%;
}