.borderfooter{
    background-color: grey;
    height: 50px;
    width:100%;
    
}
p.borderA{
    color: honeydew;
    padding-top: 17px;
}

.header{
    background-color:#2F4F4F;
    width: 100%;
    height: 50px;
    display: flex;
    position: relative;
}
    

.header-content{
    padding-top: 15px;
    right: 0px;
    padding-right : 10px;
    position: absolute;
    color: white;
}

.header-contentA{
    padding-top: 15px;
    padding-left: 7px;
    color: white;
    display: flex;
}
nav{
    width: 100%;
    left:26%;
    position: absolute;
}

.menu{
    font-family: sans-serif;
    color: #3C3C4E;
    font-size: 20px;
    margin-left: 60px;
    text-decoration: none;
}
.menu:hover{
    color: #7D7D94
}